<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Oils</h3>
              <article class="ingredient oil__olive">
                <div id="oliveoil" data-total="oliveoil-total" class="slider oil"></div>
                <h4>Olive Oil <span id="oliveoil-total">0</span></h4>
              </article>
              <article class="ingredient oil__hemp">
                <div id="hempoil" data-total="hempoil-total" class="slider oil"></div>
                <h4>Hemp Oil <span id="hempoil-total">0 </span></h4>
              </article>
              <article class="ingredient oil__sesame">
                <div id="sesameoil" data-total="sesameoil-total" class="slider oil"></div>
                <h4>Sesame Oil <span id="sesameoil-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Acidity</h3>
              <article class="ingredient vinegar__redwine">
                <div id="redwine" data-total="redwine-total" class="slider vinegar"></div>
                <h4>Red Wine Vinegar <span id="redwine-total">0</span></h4>
              </article>
              <article class="ingredient vinegar__whitewine">
                <div id="whitewine" data-total="whitewine-total" class="slider vinegar"></div>
                <h4>White Vinegar <span id="whitewine-total">0 </span></h4>
              </article>
              <article class="ingredient vinegar__cider">
                <div id="cider" data-total="cider-total" class="slider vinegar"></div>
                <h4>Cider Vinegar <span id="cider-total">0 </span></h4>
              </article>
              <article class="ingredient vinegar__balsamic">
                <div id="balsamic" data-total="balsamic-total" class="slider vinegar"></div>
                <h4>Balsamic Vinegar <span id="balsamic-total">0</span></h4>
              </article>
              <article class="ingredient">
                <div id="lemonjuice" data-total="lemonjuice-total" class="slider vinegar"></div>
                <h4>Lemon Juice <span id="lemonjuice-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Seasoning</h3>
              <article class="ingredient seasoning__salt">
                <div id="salt" data-total="salt-total" class="slider seasoning"></div>
                <h4>Salt <span id="salt-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__pepper">
                <div id="pepper" data-total="pepper-total" class="slider seasoning"></div>
                <h4>Pepper <span id="pepper-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__chilliflakes">
                <div id="chilliflakes" data-total="chilliflakes-total" class="slider seasoning"></div>
                <h4>Chilli Flakes <span id="chilliflakes-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__thyme">
                <div id="thyme" data-total="thyme-total" class="slider seasoning"></div>
                <h4>Thyme <span id="thyme-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__rosemary">
                <div id="rosemary" data-total="rosemary-total" class="slider seasoning"></div>
                <h4>Rosemary <span id="rosemary-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Taste</h3>
              <article class="ingredient mustard__dijon">
                <div id="dijon" data-total="dijon-total" class="slider"></div>
                <h4>Dijon Mustard: <span id="dijon-total">0</span></h4>
              </article>
              <article class="ingredient mustard__french">
                <div id="french" data-total="french-total" class="slider mustard"></div>
                <h4>French Mustard <span id="french-total">0</span></h4>
              </article>
              <article class="ingredient mustard__english">
                <div id="english" data-total="english-total" class="slider mustard"></div>
                <h4>English Mustard <span id="english-total">0</span></h4>
              </article>
              <article class="ingredient wholegrain__mustard">
                <div id="wholegrain" data-total="wholegrain-total" class="slider mustard"></div>
                <h4>Wholegrain Mustard <span id="wholegrain-total">0</span></h4>
              </article>
              <article class="ingredient honey__honey">
                <div id="honey" data-total="honey-total" class="slider honey"></div>
                <h4>Honey <span id="honey-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>