<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Oils</h3>
              <article class="ingredient oil__olive">
                <div id="oliveoil" data-total="oliveoil-total" class="slider oil"></div>
                <h4>Olive Oil <span class="oliveoil-total">0</span></h4>
              </article>
              <article class="ingredient oil__hemp">
                <div id="hempoil" data-total="hempoil-total" class="slider oil"></div>
                <h4>Hemp Oil <span class="hempoil-total">0 </span></h4>
              </article>
              <article class="ingredient oil__sesame">
                <div id="sesameoil" data-total="sesameoil-total" class="slider oil"></div>
                <h4>Sesame Oil <span class="sesameoil-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Acidity</h3>
              <article class="ingredient vinegar__redwine">
                <div id="redwine" data-total="redwine-total" class="slider vinegar"></div>
                <h4>Red Wine Vinegar <span class="redwine-total">0</span></h4>
              </article>
              <article class="ingredient vinegar__whitewine">
                <div id="whitewine" data-total="whitewine-total" class="slider vinegar"></div>
                <h4>White Vinegar <span class="whitewine-total">0 </span></h4>
              </article>
              <article class="ingredient vinegar__cider">
                <div id="cider" data-total="cider-total" class="slider vinegar"></div>
                <h4>Cider Vinegar <span class="cider-total">0 </span></h4>
              </article>
              <article class="ingredient vinegar__balsamic">
                <div id="balsamic" data-total="balsamic-total" class="slider vinegar"></div>
                <h4>Balsamic Vinegar <span class="balsamic-total">0</span></h4>
              </article>
              <article class="ingredient">
                <div id="lemonjuice" data-total="lemonjuice-total" class="slider vinegar"></div>
                <h4>Lemon Juice <span class="lemonjuice-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Seasoning</h3>
              <article class="ingredient seasoning__salt">
                <div id="salt" data-total="salt-total" class="slider seasoning"></div>
                <h4>Salt <span class="salt-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__pepper">
                <div id="pepper" data-total="pepper-total" class="slider seasoning"></div>
                <h4>Pepper <span class="pepper-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__chilliflakes">
                <div id="chilliflakes" data-total="chilliflakes-total" class="slider seasoning"></div>
                <h4>Chilli Flakes <span class="chilliflakes-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__thyme">
                <div id="thyme" data-total="thyme-total" class="slider seasoning"></div>
                <h4>Thyme <span class="thyme-total">0</span></h4>
              </article>
              <article class="ingredient seasoning__rosemary">
                <div id="rosemary" data-total="rosemary-total" class="slider seasoning"></div>
                <h4>Rosemary <span class="rosemary-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Taste</h3>
              <article class="ingredient mustard__dijon">
                <div id="dijon" data-total="dijon-total" class="slider"></div>
                <h4>Dijon Mustard: <span class="dijon-total">0</span></h4>
              </article>
              <article class="ingredient mustard__french">
                <div id="french" data-total="french-total" class="slider mustard"></div>
                <h4>French Mustard <span class="french-total">0</span></h4>
              </article>
              <article class="ingredient mustard__english">
                <div id="english" data-total="english-total" class="slider mustard"></div>
                <h4>English Mustard <span class="english-total">0</span></h4>
              </article>
              <article class="ingredient wholegrain__mustard">
                <div id="wholegrain" data-total="wholegrain-total" class="slider mustard"></div>
                <h4>Wholegrain Mustard <span class="wholegrain-total">0</span></h4>
              </article>
              <article class="ingredient honey__honey">
                <div id="honey" data-total="honey-total" class="slider honey"></div>
                <h4>Honey <span class="honey-total">0</span></h4>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    	<div class="row">
        	<div class="col-sm-12">
          		<div class="panel panel-default">
          			<div class="panel-body">
          				<ul>
	                		<li data-hint="Salt" class="visible salt-total hint--left hint-bounce"></li>
	                		<li data-hint="Pepper" class="visible pepper-total hint--left hint-bounce"></li>
	                		<li data-hint="Chilli Flakes" class="visible chilliflakes-total hint--left hint-bounce"></li>
	        		        <li data-hint="Thyme" class="visible thyme-total hint--left hint-bounce"></li>
			                <li data-hint="Rosemary" class="visible rosemary-total hint--left hint-bounce"></li>
	                		<li data-hint="Dijon Mustard" class="visible dijon-total hint--left hint-bounce"></li>
	                		<li data-hint="French Mustard" class="visible french-total hint--left hint-bounce"></li>
	                		<li data-hint="English Mustard" class="visible english-total hint--left hint-bounce"></li>
	        		        <li data-hint="Wholegrain Mustard" class="visible wholegrain-total hint--left hint-bounce"></li>
			                <li data-hint="Honey" class="visible honey-total hint--left hint-bounce"></li>
	                		<li data-hint="Red Wine Vinegar" class="visible redwine-total hint--left hint-bounce"></li>
	             		    <li data-hint="White Vinegar" class="visible whitewine-total hint--left hint-bounce"> </li>
	                		<li data-hint="Cider Vinegar" class="visible cider-total hint--left hint-bounce"> </li>
	        		        <li data-hint="Balsamic Vinegar" class="visible balsamic-total hint--left hint-bounce"></li>
			                <li data-hint="Lemon Juice" class="visible lemonjuice-total hint--left hint-bounce"></li>
	                		<li data-hint="Olive Oil" class="visible oliveoil-total hint--left hint-bounce"></li>
	                		<li data-hint="Hemp Oil" class="visible hempoil-total hint--left hint-bounce"> </li>
	        		        <li data-hint="Sesame Oil" class="visible sesameoil-total hint--left hint-bounce"></li>
        		        </ul>
		            </div>
          		</div>
          	</div>
       	</div>
    </div>
  </div>
</div>